@model IEnumerable<TT_Shop.Models.Category>

@{
    ViewBag.Title = "LeftSideBar";
}

<h2>Product Categories</h2>
<ul>
    @foreach (var category in Model)
    {
        <li>@category.name</li>
    }
</ul>
