<div class="right-sidebar" style="height: 100vh; border: 1px solid #ccc; background-color: #f8f9fa;">
    <h3>Right Sidebar</h3>
    <ul class="list-group">
        <li class="list-group-item">Item 1</li>
        <li class="list-group-item">Item 2</li>
        <li class="list-group-item">Item 3</li>
    </ul>
</div>


