@{
    var categories = ViewBag.Categories as List<TT_Shop.Models.Category>;
}

<div class="menu">
    <h3>Categories</h3>
    <ul class="list-group">
        @if (categories != null && categories.Any())
        {
            foreach (var category in categories)
            {
                if (!string.IsNullOrEmpty(category.name))
                {
                    <li class="list-group-item">
                        <a href="@Url.Action("Category", "Home", new { id = category.category_id })">
                            @category.name
                        </a>
                    </li>
                }
            }
        }
    </ul>
</div>
